body{
    margin: 0;
    padding: 0;
}
.section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#da959b, #D02E42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 500px;
    height: 630px;
    background-color: #E9D8DA;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form> h1{
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
}

.input_register{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input > input{
    width: 450px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: none;
}

.input_name > input{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: none;
}

.input_date > input{
    width: 450px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: none;
}

.input > input:focus{
    border: 1px solid black;
}

.radio-button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}



.button > button{
    width: 400px;
    height: 40px;  
    margin-top: 10px; 
    border-radius: 999px;
    font-size: 20px;
    color: white;
    background-color: #EB4257;
    border: none;
}

.button > button:hover{
    border: 2px solid #D02E42
}
